*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.git
{
    background-image: url('gitscreen.png') ;
background-repeat: no-repeat;
height: 550px;
    background-position: center;
    margin-top: 50px;
    
}
body{
    background-color: #6495ED;
}
nav
{
    position: absolute;
  top: 4px;
  right: 16px;
 
}

.menubar li{
    display: inline;
    
    color: black;
     
}
.menubar a{
    text-decoration: none;
}
p{
    text-align: center;
    margin-top: 50px;
}
